body{
    background-color: white;
    color: black;
}
  /* On screens that are greater than 600px, the background color is blue */
  @media screen and (max-width:1024px) and (min-width:601px) {
    body {
      background-color: blue;
      color: white;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is light green */
  @media screen and (max-width: 600px) and (min-width:10px) {
    body {
      background-color: lightgreen;
      color: white;
    }
  }
